/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #B3D4FC;
    text-shadow: none;
}

::selection {
    background: #B3D4FC;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

[tabindex] {
    outline: none !important;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #CCC;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.fullpage {
    /* Height and width fallback for older browsers. */
    min-height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    min-height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: "IBM Plex Sans", "Helvetica Neue", -apple-system, Arial, sans-serif;
    font-weight: 400;
    color: #3e4c5b;
    font-size: 1em;
    line-height: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

.content {
    width: 800px;
    margin: 60px auto 110px;
}

h1 {
    font-size: 2em;
    line-height: 1.5;
    font-weight: 800;
    color: #3e4c5b;
}

p {
    font-size: 1em;
    white-space: pre-line;
    word-break: break-word;
    font-weight: 400;
    line-height: 2em;
}

h2 {
    font-size: 2em;
    line-height: 1.5;
    font-weight: 800;
    margin-top: 48px;
    margin-bottom: 8px;
    color: #3e4c5b;
}

a {
    color: #3e4c5b;
    /* border-bottom: 1px solid #222; */
}

a.button {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .08);
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .025em;
    text-decoration: none;
    transition: all .15s ease;
    margin-right: 24px;
    margin-bottom: 24px;
    border: none;
}

a.primary {
    color: #FFF;
    background: #3ecf8e;
}

a.secondary {
    color: #3B3E4D !important;
    background: #FFF !important;
}

a.button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.about {
    background-color: #FFE59C;
    color: #3B3E4D;
    /* sectionsColor: ['#ffe59c', '#5582AF', '#5582AF', '#FFF6E5', '#FF7E65', '#2185C6', '#3D454C'], */
}

.nzmp {
    background-color: #FFF;
    background-size: cover;
    background-image: url(../img/jenny-hill-202522-unsplash.jpg);
}

.nzmp h1,
.nzmp p {
    width: fit-content;
    background-color: hsla(0, 0%, 100%, 0.9);
    padding: 0 8px;
    border-radius: 4px;
}

.hw {
    background-color: #6885AD;
    background-image: url(../img/aerial-work-under-the-burning-sun.jpg);
}

.hw h1,
.hw p {
    width: fit-content;
    color: #FFF;
    background-color: #6885AD;
    padding: 0 8px;
    border-radius: 4px;
}

.watsons {
    background-color: rgb(0, 154, 169);
    background-image: url(../img/asw-screenshot.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 16px;
    background-size: 20%;
}

.watsons h1,
.watsons p {
    color: #FFF;
    background-color: rgb(0, 154, 169);
    width: fit-content;
    border-radius: 4px;
}

.boc {
    background-color: #FFF;
    background-size: cover;
    background-image: url(../img/hongkong.jpg);
}

.bian {
    color: #FFF;
    background-color: #000000;
    background-size: cover;
    background-image: url(../img/background/bian.svg);
}

.bian h1 {
    color: #FFF;
}

.ihg {
    background-color: #FFF6E5;
    background-image: url(../img/crosschannel-transparent.png);
    background-position: bottom 16px right 16px;
    background-repeat: no-repeat;
    background-size: 35%;
}

.ihg h1,
.ihg p {
    background-color: #FFF6E5;
    width: fit-content;
    border-radius: 4px;
}

.se {
    background-color: #FF7E65;
    background-image: url(../img/Vivaz-Pro.png);
    background-repeat: no-repeat;
    background-position: bottom 20px right 20px;
    background-size: 30%;
}

.se h1,
.se p {
    background-color: #FF7E65;
    width: fit-content;
    border-radius: 4px;
}

.socialcontactjournal {
    background-color: #FFC100;
}

.socialcontactjournal h1,
.socialcontactjournal p {
    background-color: #FFC100;
    width: fit-content;
    border-radius: 4px;
}

.hf {
    background-color: #2185C6;
    background-image: url(../img/happyfish.png);
    background-position: right 20px bottom 20px;
    background-repeat: no-repeat;
    background-size: 40%;
}

.hf h1,
.hf p,
.hf a {
    color: #FFF;
    background-color: #2185C6;
    width: fit-content;
    border-radius: 4px;
}

.sideprojects,
.sideprojects a {
    background-color: #3D454C;
    border-bottom: 1px solid #CADBE8;
    background-image: url(../img/tcdisrupt/tclogo.png);
    background-position: right 8% top 8%;
    background-repeat: no-repeat;
    background-size: 10%;
}

.sideprojects h1,
.sideprojects p,
.sideprojects h2 {
    background-color: #3D454C;
    color: #CADBE8;
    width: fit-content;
    border-radius: 4px;
}

.contact {
    background-color: #FFE59C;
}

.footer {
    font-size: small;
    margin: 0 32px;
}

.footer p {
    margin: 0;
    font-size: 0.8em;
}

.highlight {
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
}

.tcphoto {
    width: 20%;
}

/* logos */

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-inline-start: 0px;
}

.brands__item {
    /* background: #eee; */
    flex: 0 0 50%;
}

@media (min-width: 700px) {

    .brands__item {
        flex: 0 0 33.33%;
    }
}

@media (min-width: 1100px) {

    .brands__item {
        flex: 0 0 20%;
    }
}

.brands__item img {
    display: block;
    /* Make sure max-width is added */
    max-width: 100%;
    width: 130px;
    height: 75px;
    object-fit: contain;
}

.brands__item img[src$=".jpg"],
.brands__item img[src$=".png"] {
    mix-blend-mode: multiply;
}

/*
 * Image row
 */

.images {
    display: flex;
    flex-wrap: row nowrap;
    width: 75%;
}

.imagewrapper {
    display: flex;
    padding: 0 10px 0px 0;
}

.image {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 4px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media (max-width: 1024px) {

    .content {
        margin: 0px 20px 0px;
    }

}

@media only screen and (max-device-width: 850px) {

    .content {
        max-width: 600px;
        margin: 60px auto 110px;
    }
}

@media only screen and (max-device-width: 767px) {

    .content {
        margin: 60px 20px 110px;
    }

    .fullpage {
        min-height: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    .content {
        margin: 60px 20px 110px;
    }

    .fullpage {
        min-height: 0;
    }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx),(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
        border-bottom: 0;
    }

    .hideprint {
        display: none !important;
    }

    /* a[href]:after {
        content: " (" attr(href) ")";
    } */

    /* abbr[title]:after {
        content: " (" attr(title) ")";
    } */

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}