/* navigation */

#header {
    position: fixed;
    height: 40px;
    width: 100%;
    background: rgba(255, 255, 255, 0.45);
    z-index: 1000;
    top: 0px;
    display: flex;
    justify-content: center;
}

.headercontent {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}

.name a {
    color: #3e4c5b;
    text-decoration: none;
    border: none;
    font-weight: 400;
}

.name a:hover {
    color: #222;
}

#wechat-link a:hover +  {
    display: block;
}

.wechat:hover #wechat-widget {
    display: block;
}

.wechat {
    position: relative;
}

#wechat-widget {
    display: none;
    position: absolute;
    background: #FFF;
    border: #3e4c5b 1px solid;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
    padding: 2px;
    text-align: center;
    font-weight: 300;
    color: #3e4c5b;
    width: 200px;
    max-width: 200px;
    right: -100px;
    top: 40px;
}

#wechat-widget p {
    font-size: 12px;
    max-width: unset;
}

#wechat-widget img {
    width: 200px;
}

.social {
    margin-left: auto;
    width: 120px;
    box-sizing: initial;
}

.social a {
    border: none;
    display: flex;
    justify-content: center;
}

.social-icon {
    float: left;
    width: 40px;
    height: 100%;
    color: #3e4c5b;
}

.social-icon:hover {
    opacity: 1;
}

@media (max-width: 1024px) {

    .headercontent {
        margin: 0px 20px 0px;
    }
}

@media only screen and (max-device-width: 850px) {

    .headercontent {
        margin: 0px 20px 0px;
    }
}

@media only screen and (max-device-width: 767px) {

    .headercontent {
        margin: 0px 20px 0px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

    .headercontent {
        margin: 0px 20px 0px;
    }
}