body{
  font-family: "Helvetica Neue", "HelveticaNeue", HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;

}

/* Fixed header
* --------------------------------------- */
body {
  margin: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*position: fixed;
  bottom: 0;*/
}

.top {
  position: absolute;
    top: 0;
    width: 100%;

  /*position: fixed;
  top: 0;*/
}
