body{
  font-family: "Helvetica Neue", "HelveticaNeue", HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;

}

/* Fixed header
* --------------------------------------- */
body {
  margin: 0;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.top {
  position: fixed;
  top: 0;
}
